@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 23rem;
  --breakpoint-xmd: 49rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}

/* Sidebar scrollbar ONLY */
* {
  scrollbar-width: thin;
  scrollbar-color: oklch(var(--s)) oklch(var(--p)) !important;
}

::-webkit-scrollbar-track {
  background: oklch(var(--p));
}

::-webkit-scrollbar-thumb {
  background-color: oklch(var(--s));
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #000000 !important;
}
